n8n-telegram-autodl-workflow.JSON
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39c88dad-539c-48d7-bfcf-cff2c08327db",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "^https?:\\/\\/(?:www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b(?:[-a-zA-Z0-9()@:%_\\+.~#?&\\/=]*)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-260, 80],
      "id": "ed5f890e-10a9-451a-a1ed-6229841c1f0d",
      "name": "Is it a URL?"
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "a1d63bb4-2c15-4bfe-a7eb-d48808a97c2e",
      "name": "Download File"
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Please send a valid direct download link (e.g., http://example.com/file.zip).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, 200],
      "id": "e7a15b01-0044-457f-b828-08b2b4e82b0a",
      "name": "Ask for Valid URL",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED__",
          "name": "__YOUR_TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{$json.message.chat.id}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "Sent via Telegram bot — original link: {{$json.message.text}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [220, 0],
      "id": "93933b1d-962c-4357-9893-15e1d6d3540f",
      "name": "Send File to User",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED__",
          "name": "__YOUR_TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-520, 80],
      "id": "7badab5c-981b-4635-915a-4d0623cedead",
      "name": "Telegram Trigger (Your Bot)",
      "credentials": {
        "telegramApi": {
          "id": "__REDACTED__",
          "name": "__YOUR_TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Is it a URL?": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send File to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (Your Bot)": {
      "main": [
        [
          {
            "node": "Is it a URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "__REDACTED__"
  }
}
